.pane {
  background: url("../../asset/roadmap/Background.webp") center / 100% 100% no-repeat;
}

.title {
  font-size: 2em;
  color: #00658B;
  text-align: center;
  margin-bottom: 1.5em;
}

.table {
  border-radius: 0.5em;
  border: 1.5px solid #00658B;
}

.row {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  font-size: 1.2em;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(0 101 139 / 0.3);
  }
}

.name {
  padding: 0.5em 1em;
  color: #00658B;
  text-align: center;
  min-width: 200px;
}

.wallet {
  padding: 0.5em 1em;
  color: #00384D;
  overflow: auto;
  border-left: 1px solid rgba(0 101 139 / 0.3);
}