.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 5em);
  padding: 1em;
}

.pane {
  max-width: 800px;
  width: 100%;
  background: rgba(255 255 255 / 0.03);
  border: 1px solid rgba(255 255 255 / 0.5);
  backdrop-filter: blur(20px);
  border-radius: 1em;
  padding: 1.5em 2em;
}

.top {
  text-align: center;
  margin-bottom: 1em;
}

.title {
  font-size: 2em;
}

.content {
  height: 250px;
  overflow: auto;
}

.question {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin-bottom: 0.5em;
}

.text {
  background: rgba(255 255 255 / 0.1);
  border-radius: 100em;
  padding: 0.5em 1em;
}

.response {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  align-items: center;
  gap: 0 1em;
  margin-bottom: 0.5em;
}

.image {
  width: 2.5em;
  height: 2.5em;
  display: block;
  border-radius: 50%;
}

.name {
  font-size: 1.4em;
  width: fit-content;
  background: linear-gradient(to right, #D10E00 0%, #FF6F65 100%);
  background-clip: text;
  color: transparent;
}
